@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');

.sentiment-container {
    width: 411px;
    height: 411px;
    position: absolute;
    top:0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.55);
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.sentiment-image {
    position: absolute;
    top: 155px;
    right: 169px;
}

.sentiment-title {
    position: absolute;
    width: 100%;
    height: 35px;
    margin: 0px;
    left: 0px;
    top: 267px;

    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}