body {
  background-color: black;
}

.loginMain{
  text-align: center;
}

.heading {
  color:white;
}

.join-btn {
  display: block;
  margin: auto;
  margin-top: 50px;
  
}

.ip-address-control {
  background-color: transparent;
  border: none;
  margin: 5px;
  color: white;
  border-bottom: 1px solid white;
  width: 50px;
}

#root {
  width: 100%;
}