.albumImage{
	width: 411px;
	height: 411px;  
	-webkit-user-select: none;
  	-webkit-app-region: drag;
}

.displayMain{
	background-color: #000000;
	height: 731px;
	width: 411px;
	display: flex;
	flex-direction: column;
	/*TODO: change the font family to Roboto*/
	font-family: 'Arial';
}

.colorOverlay{
	background-color: rgba(255,0,0,0.1);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	
}

.bodyMain{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.songDetailHolderMain{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 30px;
	padding-right: 30px;
}

.songTitleMain{
	font-size: 18px;
	font-weight: 500;
	font-style:normal;
	color: white;
}

.songArtistMain{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,0.5);
}

.buttonHolderMain{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-grow: 2;
	width: 224px;
	margin: 0 auto;
}

button{
	border:0; 
	background:transparent;
	height: 81px;
}

.downVote{
	margin-top: 21px;
}

.upVote{
	margin-bottom: 21px;
}

.pause-image{
	height:36px;
	width:36px;
}

.timer{
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -2px;
	z-index: 1;
}

.progress{
	background-color: white;
	height: 5px;
	border-radius: 4px;
}

.nextSongHolder{
	color: #ffffff
}

.progressBar{
	flex-grow: 1;
	background-color: #686868;
	height: 5px;
	border-radius: 4px;
}

.timeProgress{
	padding-top: 5px;
	color: rgba(255,255,255,0.5);
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}